* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
  overflow: hidden;
}

.headlines {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 50px;
  position: absolute;
  width: 100%;
}

#title {
  color: rgba(255, 255, 255, 1);
  padding: 10px;
  font-size: 3.75rem;
}

#subtitle {
  color: rgba(255, 208, 41, 1);
  padding: 10px;
  font-size: 2rem;
  font-family: "Lora";
  font-style: italic;
  letter-spacing: 2.5px;
}

.solar-system {
  height: 100%;
  position: relative;
}

.planets {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#the-sun {
  aspect-ratio: 1/1;
  height: 160vh;
  background: rgba(255, 208, 41, 1);
  box-shadow: 0px 0px 250px 0px rgba(255, 208, 41, 0.2);
  top: 0;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-18%);
  right: 90%;
}

#the-sun:hover {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(255, 208, 41, 0.5);
  -moz-box-shadow: 0px 0px 105px 45px rgba(255, 208, 41, 0.5);
  box-shadow: 0px 0px 105px 45px rgba(255, 208, 41, 0.5);
}

#mercury {
  height: 14px;
  width: 14px;
  background: rgba(136, 136, 136, 1);
  border-radius: 50%;
  margin-left: 125px;
}

#mercury:hover {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(136, 136, 136, 0.5);
  -moz-box-shadow: 0px 0px 105px 45px rgba(136, 136, 136, 0.5);
  box-shadow: 0px 0px 105px 45px rgba(136, 136, 136, 0.5);
}

#venus {
  height: 26px;
  width: 26px;
  background: rgba(231, 205, 205, 1);
  border-radius: 50%;
}

#venus:hover {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(231, 205, 205, 0.5);
  -moz-box-shadow: 0px 0px 105px 45px rgba(231, 205, 205, 0.5);
  box-shadow: 0px 0px 105px 45px rgba(231, 205, 205, 0.5);
}

#earth {
  height: 28px;
  width: 28px;
  background: rgba(66, 142, 212, 1);
  border-radius: 50%;
}

#earth:hover {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(66, 142, 212, 0.5);
  -moz-box-shadow: 0px 0px 105px 45px rgba(66, 142, 212, 0.5);
  box-shadow: 0px 0px 105px 45px rgba(66, 142, 212, 0.5);
}

#mars {
  height: 14px;
  width: 14px;
  background: rgba(239, 95, 95, 1);
  border-radius: 50%;
}

#mars:hover {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(239, 95, 95, 0.5);
  -moz-box-shadow: 0px 0px 105px 45px rgba(239, 95, 95, 0.5);
  box-shadow: 0px 0px 105px 45px rgba(239, 95, 95, 0.5);
}

#jupiter {
  height: 188px;
  width: 188px;
  background: rgba(226, 148, 104, 1);
  border-radius: 50%;
}

#jupiter:hover {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(226, 148, 104, 0.5);
  -moz-box-shadow: 0px 0px 105px 45px rgba(226, 148, 104, 0.5);
  box-shadow: 0px 0px 105px 45px rgba(226, 148, 104, 0.5);
}

#saturn {
  height: 144px;
  width: 144px;
  background: rgba(199, 170, 114, 1);
  border-radius: 50%;
  position: relative;
}

#saturn:hover {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(199, 170, 114, 0.5);
  -moz-box-shadow: 0px 0px 105px 45px rgba(199, 170, 114, 0.5);
  box-shadow: 0px 0px 105px 45px rgba(199, 170, 114, 0.5);
}

#saturn-ring {
  height: 3.5px;
  width: 220px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  rotate: -30deg;
  position: absolute;
  top: 50%;
  left: -25%;
}

#uranus {
  height: 66px;
  width: 66px;
  background: rgba(201, 212, 241, 1);
  border-radius: 50%;
}

#uranus:hover {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(201, 212, 241, 0.5);
  -moz-box-shadow: 0px 0px 105px 45px rgba(201, 212, 241, 0.5);
  box-shadow: 0px 0px 105px 45px rgba(201, 212, 241, 0.5);
}

#neptune {
  height: 66px;
  width: 66px;
  background: rgba(122, 145, 167, 1);
  border-radius: 50%;
}

#neptune:hover {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(122, 145, 167, 0.5);
  -moz-box-shadow: 0px 0px 105px 45px rgba(122, 145, 167, 0.5);
  box-shadow: 0px 0px 105px 45px rgba(122, 145, 167, 0.5);
}

/* -----------------------------------------------------------
POPUP CSS NEDAN
   -----------------------------------------------------------
*/

.popup {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

#sidepanel-planet {
  aspect-ratio: 1/1;
  height: 160vh;
  background: rgba(255, 208, 41, 1);
  box-shadow: 0px 0px 250px 0px rgba(255, 208, 41, 0.2);
  top: 0;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-18%);
  right: 90%;
}

.infobox {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
  gap: 10px;
}

.line {
  height: 1px;
  width: 100%;
  background: ghostwhite;
  opacity: 0.3;
  margin: 10px 0px;
}

#planet-name {
  font-size: 3.75rem;
}

#latin-name {
  font-size: 2rem;
  letter-spacing: 5px;
  color: rgba(255, 208, 41, 1);
  font-family: "Lora";
}

#description,
p {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Roboto Condensed";
  padding-top: 10px;
  padding-bottom: 10px;
}

.infobox-2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

/* -----------------------------------------------------------
   STJÄRNHIMMEL CSS NEDAN
   -----------------------------------------------------------
*/

.sky {
  position: relative;
  width: 100%;
  height: 100%;
}

.stars {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.star {
  z-index: -1;
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: twinkle 5s infinite alternate;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.moving-stars {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.moving-star {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px white, 0 0 10px white;
  animation: moveStar 8s linear, twinkle 5s infinite alternate;
}

@keyframes moveStar {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vh, 100vw);
  }
}

/* .comet {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 20px white, 0 0 40px white, 0 0 60px white;
  top: -50px;
  left: -50px;
  animation: moveComet 10s linear infinite;
}

@keyframes moveComet {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 100vh);
  }
} */
